#
# tls.cfg - Configuracion del modulo TLS de Kamailio para el SBC EP2
# Certificado autofirmado generado por user-data al boot.
#

[server:default]
method = TLSv1.2+
verify_certificate = no
require_certificate = no
private_key = /etc/kamailio/tls/sbc.key
certificate = /etc/kamailio/tls/sbc.crt

[client:default]
method = TLSv1.2+
verify_certificate = no
require_certificate = no
